body,html{
    height: 100%;
    margin:0 auto;
}   
.section1{
    background: url(../img/planeten100__v-img__16__9__xl_-d31c35f8186ebeb80b0cd843a7c267a0e0c81647.jpg);
    width: 100%;
    height: 100%;
    padding:0 auto;
    text-align: center;
}
.judul{
    font-family: Forte;
    font-weight: 500;
    font-size: 50px;
    color: blueviolet;
}   
.sub-judul{
    font-family: Bebas Neue;
    font-size: 30px;
    color: skyblue;
}
.sub-judul1{
    font-family: Forte;
    font-weight: 400;
    font-size: 30px;
    color: aqua;
}
.section2{
    padding:100px 0px;
    background: gray;
}
.col-kiri{
    background: white;
}
.col-kanan{
    background: skyblue; 
}
.section3{
    min-height: 360px;
    padding: 500px 0px;
    background: grey;
}
.link{
    padding: 13px 18px;
    color: rebeccapurple;
}
.link:hover{
    background: lightseagreen;
}